main {
    margin-top: 100px;
    text-align: center;
}
.buttons {
    margin: auto;
    width: 152px;
    border: 3px solid green;
    padding: 10px;
}

.button {
    margin: auto;
    width: 50px;
    border: 2px solid black;
    padding: 10px;
    background-color: aqua;
    display: inline-block;
}

table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
}

th,
td {
    border: 1px solid black;
    padding: 10px 15px;
}